h1 {
    font-size: 3em;
    text-align: center;
}

body {
    background-color: black;
    color: white;
    font-style: normal;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
}

a:hover {
    color: #ccc;
}

table {
    width: 100%;
}

table thead {
    background-color: #333;
    color: #eee;
}

table th {
    padding-left: 20px;
    padding-right : 20px;
    min-width: 120px;
}

table td {
    padding-left: 5px;
    padding-right: 10px;
}